
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #f7f7f7;
}


.about-section {
    padding: 60px 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.about-section h1 {
    font-size: 40px;
    color: indigo;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(75,0,130,0.4);
}

.about-section p {
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.6;
    color: #333;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    border-left: 6px solid indigo;
}


.about-footer {
    background: indigo;
    color: white;
    padding: 30px 20px;
    text-align: center;
    margin-top: 40px;
}

.about-footer h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.about-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-footer li {
    font-size: 18px;
    margin: 6px 0;
}


.about-footer i,
.about-section i {
    color: gold;
    margin-right: 8px;
    font-size: 28px;
}
